<h1> <%= @course.name %> </h1>
    
    <h5> Course Info </h5>
    <h6><%= link_to "Add Customer", @user %></h6>
        <label> Name: <%= @course.name %></label></br>
        <label> Address: <%= @course.address %><label></br>
        <label> Phone number: <%= @course.phone_number %></label></br>
        <label> Email: <%= @course.email %><label>