<!DOCTYPE html>
<html>
  <head>
    <title>GolfLeague</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href=“app/assests/stylesheets/grid.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            
            <% if logged_in? %>
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "Profile page", user_path(@currentuser) %></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", '/login' %></li>
              <li><%= link_to "Log in with Google", '/auth/google_oauth2', method: :post%></li>
              <li><%= link_to "Signup", new_user_path %></li>
            <% end %>  
          </ul>
        </nav>
      </div>
    </header>
    
    
    <div class="container">
    <%= yield %>
  </body>
</html>
